html, body { height: 100%; }

body {
    display: flex;
    flex-flow: column;
    margin: 0;
}

div.home-button {
    position: fixed;
    top: 5px;
    left: 5px;
}

.home-button a {
background-color: white; /* Green */
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

#date-changer {
    margin: 8px 0 8px 0;
}

#date-changer input, #date-changer button {
    font-size: 16pt;
}

#date-changer form {
    display: inline-block;
    margin: 0;
}

#tabs {
    z-index: 100;
}

#tabs form {
    display: inline-block;
}

.tab {
    display: inline-block;
    background: #ddd;
    border: 1px solid black;
    border-radius: 4px 4px 0 0;
    padding: 4px;
    font-family: sans-serif;
    font-size: 16pt;
    min-width: 5em;
    margin-bottom: -1.5px; /* Makes bottom of tab overlap with graph container */
    cursor: pointer;
}

.tab.active {
    background: white;
    font-weight: bold;
    border-bottom-color: white;
    border-width: 2px;
    padding: 3px;
}

#graph-container {
    flex: 1;
    padding: 0 8px 8px 8px;
}

.graph {
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
}

#map {
    width: 99%;
    margin: auto;
    height: 95%;
}

#no-info {
    max-width: 400px;
    margin: 50px auto;
    padding: 15px;
    display: none;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}
