html, body {
    height: 100%;
    overflow: hidden;
}

#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	opacity: 0.2;
	background: url(/static/images/background.jpg) center/cover no-repeat;
}


