{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block date %}

                    <div id="date-changer" style="position: absolute;
						  		left: 50%;
						  		transform:translateX(-50%);">
							  <div class="input-group ml-4">
								<form class="input-group-prepend"><button type="submit" class="btn btn-primary" name="date" value="{{prev_date_str}}">&#9668;</button><input type="hidden" name="tab" value="{{tab}}"></form>
								<form><input type="hidden" name="tab" value="{{tab}}"><input type="date" class="form-control" name="date" value="{{date_str}}" oninput="this.form.submit()"></form>
								<form class="input-group-append"><input type="hidden" name="tab" value="{{tab}}"><button type="submit" class="btn btn-primary" name="date" value="{{next_date_str}}">&#9658;</button></form>
							  </div>
						  </div>
{% endblock %}

{% block body %}

            <ul class="nav nav-tabs mx-auto">
                {% for tab_link in tab_list %}
                <li class="nav-item">
                    <form>

                        <input type="hidden" name="date" value="{{date_str}}">

                        <button type="submit" name="tab" class="nav-link{% if tab_link == tab %} active{% endif %}" value="{{tab_link}}">{{tab_link}}</button>

                    </form>

                {% endfor %}
            </ul>


{% endblock %}
