<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KU Solar Car Telemetry</title>
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
		<link rel="stylesheet" type="text/css" href="static/css/daily.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="../static/javascript/lib/Moment.js"></script>
		<script src="../static/javascript/lib/Chart.js"></script>
        <script src="../static/javascript/daily.js"></script>
	</head>
	<body>
		<div id="bg"></div>
        <div class="home-button">
            <a href=".">HOME</a>
        </div>
		<div id="date-changer">
			<form><input type="hidden" name="tab" value="{{tab}}"><button type="submit" name="date" value="{{prev_date_str}}">&#9668;</button></form>
			<form><input type="hidden" name="tab" value="{{tab}}"><input type="date" name="date" value="{{date_str}}" oninput="this.form.submit()"></form>
			<form><input type="hidden" name="tab" value="{{tab}}"><button type="submit" name="date" value="{{next_date_str}}">&#9658;</button></form>
		</div>
		<div id="tabs">
			{% for tab_link in tab_list %}
				<form>
					<input type="hidden" name="date" value="{{date_str}}">
					<button type="submit" name="tab" class="tab{% if tab_link == tab %} active{% endif %}" value="{{tab_link}}">{{tab_link}}</button>
				</form>
			{% endfor %}
		</div>
		<div id="graph-container">
			<div class="graph" id="{{graph}}"> 
				<canvas id="chart-{{graph}}"></canvas>
				<script type="text/javascript">
					new Chart(document.getElementById('chart-{{graph}}').getContext('2d'), {
						type: "scatter",
						data: {
							datasets: [
								{% for sensor, entries in graph_data.items() %}
									{
										label: "{{sensor}}",
										data: [
											{% for time, entry in entries.items() %}{x:{{time}},y:{{entry}}},{% endfor %}
										], fill: false, borderColor: "hsl(" + "{{sensor}}".toHue() + ", 100%, 50%)", borderWidth: 2.5, showLine: true
									},
								{% endfor %}
							]
						},
						options: {
							animation: {duration: 0},
							responsiveAnimationDuration: 0,
							maintainAspectRatio: false,
							tooltips: {mode: "index", intersect: false},
							hover: {mode: "index", intersect: false, animationDuration: 0},
							elements: {line: {tension: 0}},
							scales: {
								xAxes: [{
									type: "time",
									scaleLabel: {display: true, labelString: "Hour"}, 
									time: {unit: "hour"},
									tiks: {minRotation: 0, maxRotation: 0, sampleSize: 10}
								}],
								yAxes: [{
									//ticks: {beginAtZero: true}
								}]
							}
						}
					});
				</script>
			</div>
		</div>
	</body>
</html>