{% extends "daily_layout.html" %}
{% block head %}
    {{ super() }}

        <script src="../static/javascript/daily_location.js"></script>
		<script type="text/javascript">
            // Declare Javascript variables and inject serverside values
			// Pass list of location pairs for use in js map drawing
            let location_pairs = {{ location_pairs|tojson }};

            // Pass starttime and endtime, needed to set dropdowns on page reload
            let starttime = {{ starttime }};
            let endtime = {{ endtime }};
		</script>
{% endblock %}
{% block body %}
    {{ super() }}
        <div style="height: 8px"></div>
        <div id="times">
            <form id="time-form">
                <input type="hidden" name="date" value="{{date_str}}">
                <input type="hidden" name="tab" value="{{tab}}">
                <label for="start-time">From: </label>
                <select id="start-time" name="starttime" onchange="on_select_change()">
                    <option value="0" selected>12 AM</option>
                    <option value="3600">1 AM</option>
                    <option value="7200">2 AM</option>
                    <option value="10800">3 AM</option>
                    <option value="14400">4 AM</option>
                    <option value="18000">5 AM</option>
                    <option value="21600">6 AM</option>
                    <option value="25200">7 AM</option>
                    <option value="28800">8 AM</option>
                    <option value="32400">9 AM</option>
                    <option value="36000">10 AM</option>
                    <option value="39600">11 AM</option>
                    <option value="43200">12 PM</option>
                    <option value="46800">1 PM</option>
                    <option value="50400">2 PM</option>
                    <option value="54000">3 PM</option>
                    <option value="57600">4 PM</option>
                    <option value="61200">5 PM</option>
                    <option value="64800">6 PM</option>
                    <option value="68400">7 PM</option>
                    <option value="72000">8 PM</option>
                    <option value="75600">9 PM</option>
                    <option value="79200">10 PM</option>
                    <option value="82800">11 PM</option>
                </select>
                <label for="end-time">To: </label>
                <select id="end-time" name="endtime" onchange="on_select_change()">
                    <option value="3600">1 AM</option>
                    <option value="7200">2 AM</option>
                    <option value="10800">3 AM</option>
                    <option value="14400">4 AM</option>
                    <option value="18000">5 AM</option>
                    <option value="21600">6 AM</option>
                    <option value="25200">7 AM</option>
                    <option value="28800">8 AM</option>
                    <option value="32400">9 AM</option>
                    <option value="36000">10 AM</option>
                    <option value="39600">11 AM</option>
                    <option value="43200">12 PM</option>
                    <option value="46800">1 PM</option>
                    <option value="50400">2 PM</option>
                    <option value="54000">3 PM</option>
                    <option value="57600">4 PM</option>
                    <option value="61200">5 PM</option>
                    <option value="64800">6 PM</option>
                    <option value="68400">7 PM</option>
                    <option value="72000">8 PM</option>
                    <option value="75600">9 PM</option>
                    <option value="79200">10 PM</option>
                    <option value="82800">11 PM</option>
                    <option value="86400">11:59 PM</option>
                </select>
            </form>
        </div>

        <!--The div element for the map -->
        <div id="map"></div>

        <!-- Hidden by default -->
        <div id="no-info">
            <h3>No Activity For Selected Period</h3>
        </div>

        <!-- Map script has to come down here-->
        <script src="../static/javascript/map.js"></script>

        <!-- Initialize map, injecting URL containing API token -->
        <script src="{{ maps_url }}"></script>
{% endblock %}

