{% extends "daily_layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
	<div id="graph-container">
			<div class="graph" id="{{graph}}"> 
				<canvas id="chart-{{graph}}"></canvas>
				<script type="text/javascript">
					new Chart(document.getElementById('chart-{{graph}}').getContext('2d'), {
						type: "scatter",
						data: {
							datasets: [
								{% for sensor, entries in graph_data.items() %}
									{
										label: "{{sensor}}",
										data: [
											{% for time, entry in entries.items() %}{x:{{time}},y:{{entry}}},{% endfor %}
										], fill: false, borderColor: "hsl(" + "{{sensor}}".toHue() + ", 100%, 50%)", borderWidth: 2.5, showLine: true
									},
								{% endfor %}
							]
						},
						options: {
							animation: {duration: 0},
							responsiveAnimationDuration: 0,
							maintainAspectRatio: false,
							tooltips: {mode: "index", intersect: false},
							hover: {mode: "index", intersect: false, animationDuration: 0},
							elements: {line: {tension: 0}},
							scales: {
								xAxes: [{
									type: "time",
									scaleLabel: {display: true, labelString: "Hour"}, 
									time: {unit: "hour"},
									tiks: {minRotation: 0, maxRotation: 0, sampleSize: 10}
								}],
								yAxes: [{
									//ticks: {beginAtZero: true}
								}]
							}
						}
					});
				</script>
			</div>
		</div>
{% endblock %}
