<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KU Solar Car Telemetry</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="static/css/daily_location.css">
		<script src="../static/javascript/lib/Moment.js"></script>
		<script src="../static/javascript/lib/Chart.js"></script>
        <script src="../static/javascript/daily_location.js"></script>
		<script type="text/javascript">
            // Declare Javascript variables and inject serverside values
			// Pass list of location pairs for use in js map drawing
            let location_pairs = {{ location_pairs|tojson }};

            // Pass starttime and endtime, needed to set dropdowns on page reload
            let starttime = {{ starttime }};
            let endtime = {{ endtime }};
		</script>
	</head>
	<body>
		<div id="bg"></div>
        <div id="date-changer">
            <form>
                <input type="hidden" name="tab" value="{{tab}}">
                <button type="submit" name="date" value="{{prev_date_str}}">&#9668;</button>
            </form>
            <form>
                <input type="hidden" name="tab" value="{{tab}}">
                <input type="date" name="date" value="{{date_str}}" oninput="this.form.submit()">
            </form>
            <form>
                <input type="hidden" name="tab" value="{{tab}}">
                <button type="submit" name="date" value="{{next_date_str}}">&#9658;</button>
            </form>
        </div>

		<div id="tabs">
			{% for tab_link in tab_list %}
				<form>
					<input type="hidden" name="date" value="{{date_str}}">
					<button type="submit" name="tab" class="tab{% if tab_link == tab %} active{% endif %}" value="{{tab_link}}">{{tab_link}}</button>
				</form>
			{% endfor %}
		</div>

        <div style="height: 8px"></div>
        <div id="times">
            <form id="time-form">
                <input type="hidden" name="date" value="{{date_str}}">
                <input type="hidden" name="tab" value="{{tab}}">
                <label for="start-time">From: </label>
                <select id="start-time" name="starttime" onchange="on_select_change()">
                    <option value="0" selected>12 AM</option>
                    <option value="3600">1 AM</option>
                    <option value="7200">2 AM</option>
                    <option value="10800">3 AM</option>
                    <option value="14400">4 AM</option>
                    <option value="18000">5 AM</option>
                    <option value="21600">6 AM</option>
                    <option value="25200">7 AM</option>
                    <option value="28800">8 AM</option>
                    <option value="32400">9 AM</option>
                    <option value="36000">10 AM</option>
                    <option value="39600">11 AM</option>
                    <option value="43200">12 PM</option>
                    <option value="46800">1 PM</option>
                    <option value="50400">2 PM</option>
                    <option value="54000">3 PM</option>
                    <option value="57600">4 PM</option>
                    <option value="61200">5 PM</option>
                    <option value="64800">6 PM</option>
                    <option value="68400">7 PM</option>
                    <option value="72000">8 PM</option>
                    <option value="75600">9 PM</option>
                    <option value="79200">10 PM</option>
                    <option value="82800">11 PM</option>
                </select>
                <label for="end-time">To: </label>
                <select id="end-time" name="endtime" onchange="on_select_change()">
                    <option value="3600">1 AM</option>
                    <option value="7200">2 AM</option>
                    <option value="10800">3 AM</option>
                    <option value="14400">4 AM</option>
                    <option value="18000">5 AM</option>
                    <option value="21600">6 AM</option>
                    <option value="25200">7 AM</option>
                    <option value="28800">8 AM</option>
                    <option value="32400">9 AM</option>
                    <option value="36000">10 AM</option>
                    <option value="39600">11 AM</option>
                    <option value="43200">12 PM</option>
                    <option value="46800">1 PM</option>
                    <option value="50400">2 PM</option>
                    <option value="54000">3 PM</option>
                    <option value="57600">4 PM</option>
                    <option value="61200">5 PM</option>
                    <option value="64800">6 PM</option>
                    <option value="68400">7 PM</option>
                    <option value="72000">8 PM</option>
                    <option value="75600">9 PM</option>
                    <option value="79200">10 PM</option>
                    <option value="82800">11 PM</option>
                    <option value="86400">11:59 PM</option>
                </select>
            </form>
        </div>

        <!--The div element for the map -->
        <div id="map"></div>

        <!-- Hidden by default -->
        <div id="no-info">
            <h3>No Activity For Selected Period</h3>
        </div>

        <!-- Map script has to come down here-->
        <script src="../static/javascript/map.js"></script>

        <!-- Initialize map, injecting URL containing API token -->
        <script src="{{ maps_url }}"></script>
	</body>
</html>
