<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KU Solar Car Telemetry</title>
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="bg"></div>
		<a class="navbar-brand">
			<img src="static/images/logo.png" width="200" alt="">
		</a>
		<br>
		<div id="content">
			<h1>Telemetry</h1>
			<a href="Realtime">Realtime data monitoring</a>
			<a href="Daily">Daily statistics</a>
			<a href="Longterm">Long-term statistics</a>

		</div>
	</body>
</html>