{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block body %}
	<body>
    <div id="top">
        <h1 class="text-center">Realtime</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-row ml-2" style="display: none">
                <label class="sr-only" for="add-chart-sel">Add a chart</label>
                <select id="add-chart-sel" class="form-control" onchange="showChart(this.value)">
                    <option value="def" disabled selected>Unhide Chart</option>
                </select>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">

        <!-- Top row for map
        <div class="row">
            <div id="map"></div>
        </div>
        -->


        {% for datatype, datatype_dic in format.items() if datatype not in no_chart['keys'] %}
            <div id="container-{{ datatype }}" class="card-container col-12 col-lg-6 m-0 p-1">
                <div id="card-{{ datatype }}" class="card m-1">
                    <div class="card-header" data-toggle="collapse" data-target="#card-body-wrap-{{ datatype }}">
                        <p style="float: left; margin: 0" onclick="hideChart('{{ datatype }}')">Hide</p>

                        {{ datatype_dic['name'] }}:
                        <span id="head-{{datatype}}">

                        </span>
                        {{datatype_dic['unit'] }}

                        <p style="float: right; margin: 0">Pin</p>
                    </div>

                    <div id="card-body-wrap-{{ datatype }}" class="h-100 collapse show" style="-webkit-transition: height 0.01s;-moz-transition: height 0.01s;-o-transition: height 0.01s;transition: height 0.01s;">
                        <div class="card-body p-0">
                            <canvas id="canvas-{{ datatype }}" class="can" style="height: 600px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    </div>

    <script>
        let db_format = {{ format | tojson }};
        let no_chart = {{ no_chart | tojson}};
    </script>
    <script src="{{ url_for('static', filename='javascript/realtime.js') }}"></script>

    <!-- Map script has to come down here-->
    <script src="{{ url_for('static', filename='javascript/realtime_map.js') }}"></script>

    <!-- Initialize map, injecting URL containing API token -->
    <script src="{{ maps_url }}"></script>
	</body>
{% endblock %}
